/* From the figma UX Design to:
what element i should target?
What hook i should use? class, element, div
where the content live?
Is it change the overall width of the container which affect the layout of the page?
what properties to use?
what value should I use?
*/
html {
  background-color: #fcfdf2;
}

body {
  font-family: "Tahoma", Courier, monospace;
  font-size: 87%;
}
img {
  max-width: 100%;
  height: auto;
}

/* Banner Overlay */
.banner-description {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 25px;
}
.image-banner {
  position: relative;
}
.image-banner img {
  display: block;
}

/* 
-adjust the spacing in the header, h1, p: using margin, padding
-styling header, h1, p: color, font weight, font size.
 */
header {
  padding-top: 20px;
  color: #535e3b;
  background-image: url(./images/flower.jpg);
  background-position: right center;
  background-repeat: no-repeat;
}
header h1 {
  margin: 0;
  font-weight: normal;
}
header p {
  margin: 0;
}
/* nav-bar site navigation begin */
.nav-bar {
  margin-top: 20px;
}
.nav-bar ul {
  margin: 0;
  padding: 0;
}
.nav-bar li {
  list-style-type: none;
  float: left;
  margin-right: 5px;
}
.nav-bar a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border: 3px solid #ffe9b1;
  border-bottom: none;
  /*by default link element or a element are in line elements instead of block element*/
  /* display inline to display block */
}
/* add hover effect with pseudo selector */
.nav-bar a:hover {
  background-color: #ffe9b1;
}
/* Sub menu dropdow */
.nav-bar li ul {
  position: absolute;
  left: -9999px;
  background-color: #ffe9b1;
  box-shadow: 7px 7px 7px -7px rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.nav-bar li:hover ul {
  left: auto;
}
.nav-bar li li {
  float: none;
  margin-right: 0;
}
.nav-bar li li a:hover {
  background-color: #ffe9b1;
  color: #fff;
}
/* nav-bar site navigation end */
/*container class*/
.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background: url(./images/color-tile.png) left bottom repeat-x, #fff url(./images/color-tile.png) left top repeat-x;
  padding-left: 40px;
  padding-top: 15px;
  box-sizing: border-box;
}

/* //content-area class*/
.content-area {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

/* //main-area class
//width and float properties for column layout
//want two distinct column by using clear fix */
.main-area {
  width: 66%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
}
/* UI menu using CSS Sprite to turn text based menu to ui */
.ui-menu ul {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.ui-menu li {
  float: left;
  list-style: none;
  margin-right: 20px;
}
/* universal link rule */
.ui-menu a {
  display: block;
  text-decoration: none;
  /* width and height of icon */
  width: 50px;
  height: 50px;
  /* issue: background ui will be repeat the home ui */
  background-image: url(./images/sprites.png);
  background-repeat: no-repeat;
  /* hide the menu text */
  text-indent: -9999px;
}
.ui-home a:hover {
  background-position: -50px 0;
}
.ui-profile a {
  /* 0 is horizontal -50 is vertical */
  background-position: 0 -50px;
}
.ui-profile a:hover {
  background-position: -50px -50px;
}
.ui-setting a {
  background-position: 0 -100px;
}
.ui-setting a:hover {
  background-position: -50px -100px;
}
/* UI Menu End */

/* Bird Style with CSS background */
.birds {
  /* background image */
  background: #c2bbb1 url(./images/bird.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}
.birds p {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  display: inline-block;
  padding: 10px;
}
/* Bird Background End */
/* Table Styles Begin */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}
.col-item-name {
  width: 60%;
}
.col-quantity,
.col-price {
  width: 20%;
}
table th {
  text-align: left;
  background-color: #869960;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
}

table th,
table td {
  border: 1px solid #869960;
  padding: 10px;
  vertical-align: top;
}

table tbody tr:nth-child(odd) td {
  background-color: #e5e9dc;
}
/* use advance selectors to align text center for quantity and price */
table.grocery-list tr :nth-child(2),
table.grocery-list tr :nth-child(3) {
  text-align: center;
}
/* Table Styles End */

/* Form Style */
form {
  background-color: #ececec;
  padding: 30px 40px;
  margin-bottom: 40px;
}

.hidden-label {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}
input,
select {
  font-family: "Tahoma", Courier, monospace;
  font-size: 100%;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"],
select {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #cdcdcd;
}
/* give users visual feedback letting know which field they are working with
-green border around the field
-inline shadow
*/
/* input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
  border: 1px solid #869960;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
} */

input[type="submit"] {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #869960;
  color: #fff;
  padding: 10px 0;
  border: 1px solid #798a56;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid #535e3b;
  background-color: #798a56;
}
.checkbox-text {
  font-size: 85%;
  color: #777;
}
/* Form Style End */

/*sidebar
//width and float properties for column layout */
.sidebar {
  width: 34%;
  float: left;
  /* fallback code for older browser */
  background-color: #e5e9dc;
  /* gradient background for most of different browser */
  background-image: -webkit-linear-gradient(top, #e5e9dc, #fff);
  background-image: -moz-linear-gradient(top, #e5e9dc, #fff);
  background-image: -ms-linear-gradient(top, #e5e9dc, #fff);
  background-image: -o-linear-gradient(top, #e5e9dc, #fff);
  background-image: linear-gradient(to bottom, #e5e9dc, #fff);
  padding: 40px 20px;
  box-sizing: border-box;
  font-size: 85%;
}

footer {
  text-align: center;
  font-size: 75%;
  color: gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
